.sidebar {
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 250px;
}

.sidebar__twitterIcon {
    padding: 12px;
    background-color: rgba(29, 161, 242, 0);
    transition: background-color 0.3s ease-out;
    border-radius: 100px;
    font-size: 30px;
    cursor: pointer;
}

.sidebar__twitterIcon:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.sidebar__tweet {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: bold !important;
    text-transform: inherit !important;
    height: 50px !important;
    margin-top: 20px !important;
    border-radius: 30px !important;
    width: 100%;
}

.sidebar__tweet:hover {
    background-color: var(--twitter-color-hover) !important;
}