.feed {
    flex: 0.5;
    border-right: solid 1px var(--twitter-border-color);
    /* min-width: fit-content; */
    overflow-y: scroll;
}


.feed::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome */
}

.feed {
    -ms-overflow-style: none; /* IE And Edge*/
    scrollbar-width: none; /* Firefox */
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: var(--twitter-background);
    padding: 15px 20px;
    z-index: 100;
    border-bottom: 1px solid var(--twitter-border-color);
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}
/* 
.feed__content {
} */