.feed {
    /* flex: 0.65; */
    border-right: solid 1px var(--twitter-border-color);
    border-left: solid 1px var(--twitter-border-color);
    min-width: fit-content;
    margin-left: 300px;
    height: fit-content;
    min-height: 100vh;
    width: 650px;
}


.feed__header {
    position: sticky;
    top: 0;
    background-color: var(--twitter-background);
    padding: 15px 20px;
    z-index: 100;
    border-bottom: 1px solid var(--twitter-border-color);
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}
/* 
.feed__content {
} */