.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(29, 161, 242, 0);
    transition: background-color 0.2s ease;
    border-radius: 100px;
}

.sidebarOption:hover {
    background-color: rgba(29, 161, 242, 0.1);
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption > svg {
    padding: 20px;
    width: 16px !important;
}

.sidebarOption > h2 {
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption--active {
    color: var(--twitter-color);
}