.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 0 8px 0;
    /* transition: 150ms ease-in-out;
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 100px; */
}

.sidebarOption__item {
    display: flex;
    align-items: center;
    transition: 100ms ease-in-out;
    background-color: rgba(29, 161, 242, 0);
    border-radius: 100px;
}

.sidebarOption:hover {
    color: var(--twitter-color);
}

.sidebarOption:hover > .sidebarOption__item {
    background-color: rgba(29, 161, 242, 0.1);
}

.sidebarOption__item > svg {
    padding: 12px 20px 12px 12px;
    /* padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px; */
    /* padding: 20px; */
    width: 30px !important;
    font-size: 22px !important;
}

.sidebarOption__item > h2 {
    font-size: 20px;
    margin-right: 20px;
    /* padding-right: 0; */
}

.sidebarOption--active {
    color: var(--twitter-color);
}