body {
    --twitter-color: #50b7f5;
    --twitter-color-hover: #3f9bd4;
    --twitter-border-color: rgb(56, 68, 77);
    --twitter-background: #15202B;
}

.app {
    background-color: #15202B;
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}